div.navbar-logo
    a(href="/") 
        img(src="/img/javascript.png")

ul.navbar-nav
    li(class=path === "home" ? "active" : "disabled")
        a(href="/") 
            <i class="fa fa-home" aria-hidden="true"></i> Hem
        
    li(class=path === "about" ? "active" : "disabled")
        a(href="/about") 
            <i class="fa fa-address-card" aria-hidden="true"></i> Om
        
    li(class=path === "presentation" ? "active" : "disabled")
        a(href="/presentation") 
            <i class="fa fa-comments" aria-hidden="true"></i> Redovisningar
            
    li(class=path === "project" ? "active" : "disabled")
        a(href="/project") 
            <i class="fa fa-comments" aria-hidden="true"></i> Projekt
    
    
    li(class=path === "chat" ? "active" : "disabled")
        a(href="/chat") 
            <i class="fa fa-envelope" aria-hidden="true"></i> chat
            
    li(class=path === "db" ? "active" : "disabled")
        a(href="/db/show") 
            <i class="fa fa-database" aria-hidden="true"></i> Db
